body {
  margin: 0;
}

.centered-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
}

.column-field-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.btnGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btnGroup button {
  font-size: 25px;
}

.text-font {
  font-size: 25px;
  font-weight: 700;
}

.input-field {
  font-size: 20px;
  margin: 5px;
  text-align: center;
  font-weight: 400;
}

.form-input {
  font-size: 20px;
  margin: 5px;
  font-weight: 400;
  width: 100%;
}

.displat-json {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  max-width: 500px;
}

@media screen and (max-width:900px) {
  .centered-container {
    position: relative;
    left: 0;
    top: 0;
    transform: translate(0, 0);
  }
}